@use "../../utils/functions/"as*;
@use "../../utils/mixins/"as*;

.about {
  &__inner {
    position: relative;
    display: flex;
    justify-items: flex-end;
    flex-direction: column;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 967px;

    @include media(mobile-s) {
      background-position: bottom center;
    }

    @include media(tablet-wide) {
      &::before {
        @include pseudo;
        background-color: rgba(255, 255, 255, .6);
        inset: 0;
        z-index: 1;
      }
    }

    @include media(tablet) {
      min-height: 767px;

      &::before {
        background-color: rgba(255, 255, 255, .8);
      }
    }

    @include media(mobile-l) {
      min-height: 567px;
    }
  }

  &__content {
    @include flex;
    text-align: right;
    flex-direction: column;
    align-items: flex-end;
    max-width: 660px;
    margin-left: auto;
    padding-inline: 48px;
    margin-bottom: 32px;
    z-index: 1;

    @include media(mobile-l) {
      max-width: 100%;
      text-align: left;
      align-items: flex-start;
      padding-inline: 15px;
    }
  }

  span {
    text-align: right;
    color: var(--color-gray);
    display: inline-block;
    font-family: "Kally dreams", sans-serif;
    font-size: 128px;
    margin-bottom: 20px;
    z-index: -1;

    @include media(tablet) {
      font-size: 100px;
    }

    @include media(mobile-l) {
      font-size: 70px;
    }

    @include media(mobile-m) {
      text-align: left;
      padding-left: 15px;
      font-size: 50px;
      z-index: 1;
    }

    @include media(mobile-s) {
      font-size: 20px;
    }
  }

  h2 {
    text-align: right;
    margin-bottom: 32px;
  }

  p {
    letter-spacing: 0.025em;
    margin-bottom: 33px;
  }

  &--about-me {
    span {
      margin-bottom: 45px;
    }

    h2 {
      margin-bottom: 60px;
    }

    .about__content {
      max-width: 710px;
    }
  }

  .container {
    @include media(mobile-l) {
      padding: 0;
    }
  }
}