/* stylelint-disable declaration-no-important */
@use "../utils/functions/"as*;
@use "../utils/mixins"as*;

*[class].btn {
  position: relative;
  @include flex-all-center;
  max-width: fit-content;
  border: 2px solid var(--color-white);
  white-space: nowrap;
  border-radius: calc(var(--radius-main) * 4 - 4px);
  font-weight: var(--fw-400);
  font-size: 20px;
  padding: 8px 14px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: var(--color-brown-500);
  transition-property: background-color, color, border-color;
  transition-duration: 0.2s;

  &:hover {
    color: var(--color-black) !important;
    background-color: var(--color-white);
  }

  &--order,
  &--more {
    font-weight: var(--fw-500);
    color: var(--color-black) !important;
    background-color: var(--color-white);

    &:hover {
      color: var(--color-white) !important;
    }
  }

  &--hero {
    background-color: transparent !important;
    color: var(--color-white) !important;

    &:hover {
      background-color: var(--color-white) !important;
    }
  }

  &--order {
    &:hover {
      background-color: transparent;
    }
  }

  &--more {
    font-size: 28px;
    border-color: var(--color-black);

    &:hover {
      background-color: var(--color-black);
    }
  }

  &--contact {
    background-color: var(--color-black);
    border-color: var(--color-black);

    &:hover {
      background-color: var(--color-white);
      color: var(--color-black);
    }
  }

  &.hide {
    display: none;
  }
}