@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.portfolio {
  h2 {
    margin-bottom: 32px;

    +P {
      max-width: 850px;
    }
  }

  &--portfolio-page,
  &--affairs {
    h2 {
      +P {
        max-width: 1200px;
      }
    }
  }

  &__text {
    margin-bottom: 0;
    padding-left: 45px;

    &:last-child {
      margin-bottom: 66px;
    }
  }
}